<?xml version="1.0" encoding="UTF-8"?>
<web-app>
 <servlet>
 	<servlet-name>Main</servlet-name>
 	<servlet-class>car.tp4.Main</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>AddBook</servlet-name>
 	<servlet-class>car.tp4.AddBookSvlt</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ListBook</servlet-name>
 	<servlet-class>car.tp4.ListBookSvlt</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>Main</servlet-name>
 	<url-pattern>/car/tp4</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>AddBook</servlet-name>
 	<url-pattern>/car/tp4/add</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
 	<servlet-name>ListBook</servlet-name>
 	<url-pattern>/car/tp4/list</url-pattern>
 </servlet-mapping>
</web-app>